<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <link rel="stylesheet" href="css/style.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Form</title>
    </head>
</head>

<body>
    <div class="admin-container">
        <div class="main-admin">
            <span class="background"></span>
            <span class="centering">
                <form class="my-form">
                    <span class="login-welcome-row">
                        <!-- optimize the image in production -->
                        <h1>Registration Portal!</h1>
                    </span>
                    <div class="text-field">
                        <p>Create an account or login </p>
                        <a href="/users/register" class="btn btn-secondary btn-block">Register</a>
                        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
                    </div>
                </form>
            </span>

        </div>
    </div>


</body>

</html>